# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Node.js (if you decide to use it later)
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
